<div class="relative inline-block {{ class }}">
  <a href="{{ url }}" 
    class="relative inline-block text-primary py-8 px-20 rounded-button font-bold border-primary border" 
    target="{%- if target -%}{{ target }}{%- else -%}_self{%- endif -%}">{{ text }}</a>
</div>
